*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



#wrapper{
  width: 100vw;
  height: 100vh;
}


#main{
  width: 100%; 
  height: calc(100% - 100px);
  background-image: linear-gradient(to bottom right, yellow, black);
  overflow: hidden;
}

#main::after{
  content: "";
  display: table;
  clear: both;
}

#left-side{
  float:left;
  width: 20%;
  max-width: 220px;
  height: 100%;
  background:rgba(0,0,0,0.9);
}

#right-side{
  float:right;
  width:80%; 
  min-width: calc(100% - 220px);
  height: 100%;
  overflow: auto;
}

#navigazione{
  width: 100%;
  height: 100px;
  background: green;
}

#player{
  background: red;
  height: 100px;
}
