*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media all and (max-width: 960px){
  .hide-when-mobile{
    display: none;
  }
}

@media all and (min-width: 961px){
  .hide-when-desktop{
    display: none;
  }
}

#wrapper{
  width: 100vw;
  height: 100vh;
}


#main{
  width: 100%; 
  height: calc(100% - 100px);
  background-image: linear-gradient(to bottom right, yellow, black);
  overflow: hidden;
}

#main::after{
  content: "";
  display: table;
  clear: both;
}

/*barra a sinistra*/
#left-side{
  float:left;
  width: 20%;
  max-width: 220px;
  height: 100%;
  background:rgba(0,0,0,0.9);
  color: gray
}

#left-side .flex-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* #left-side .top,
#left-side .bottom{
  padding-left: 10px;
}
 */
/*spaziatura etichette*/
#left-side #recent{
  margin-top: 30px;
}

#recent .label{
  margin-bottom: 10px;
  padding-left: 15px;
}

#recent .nav-button{
  margin: 5px auto;
}


/*link di navigazione superiori*/
#left-side .nav-button{
  width: 100%;
  padding-left: 15px;
}
#left-side .nav-link{
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none;
}

#left-side .nav-button:hover{
  color: white;
  text-decoration: none;
  border-left: 3px solid green
}

/*logo*/
#brand  {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#brand img{
  height: 50px;
}

/*lato destro*/
#right-side{
  float:right;
  width:80%; 
  min-width: calc(100% - 220px);
  height: 100%;
  overflow: auto;
  background:rgba(0,0,0,0.5);
}

/*barra di navigazione superiore*/
#navigazione,
#navigazione-mobile{
  width: 90%;
  height: 100px;
  margin: auto;
}

#navigazione .flex-container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navigazione .nav-label{
  margin: 0 10px;
  color: white;
  opacity: 0.5;
  position: relative;
}

#navigazione .nav-label:hover{
  opacity: 1;
  cursor: default;
}

#navigazione .nav-label:hover::after{
  content: '';
  width: 50%;
  height: 3px;
  left: 25%;
	background: greenyellow;
	position: absolute;
	bottom: -5px;
}


/*navigazione mobile*/
#navigazione-mobile .flex-container{
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center; 
}

#navigazione-mobile .hamburger div {
  width: 25px;
  height: 5px;
  background-color: white;
  margin: 4px 0;
  border-radius: 3px;
}


/*sezione album*/
.album-container{
  width: 90%;
  margin: auto;
  color: white;
}
.album-container .flex-container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.album-container .album{
  margin: 20px 10px 20px 0px;
}

.album-container img{
  width: 150px;
  height: 150px;
}

.album-container .round{
  border-radius: 100%;
}

.album-container .album-label{
  text-align: center;
}
/*area inferiore*/
#player{
  background: rgb(71, 70, 70);
  height: 100px;
  color: gray;
}

#player .flex-container{
  height: 100%;
  display: flex;
  justify-content: space-between;
}

#brano {
  height: 100%;
  width: 25%;
}

#brano .flex-container{
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#brano .album-thumb {
  width: 64px;
  height: 64px;
}

#controlli{
  height: 100%;
  width: 40%;
  background: red;
}

#impostazioni {
  height: 100%;
  width: 25%;
  background: red;
}